AddDefaultCharset utf8

RewriteRule ^.htaccess$ - [F]

php_value error_reporting 0

RewriteEngine On
RewriteCond %{HTTP_HOST} ^tesla/bootstrap
RewriteRule (.*) tesla/split/$1 [R=301,L]


RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ tesla/bootstrap/ [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

RewriteBase /bootstrap/

#php_value upload_max_filesize 100M
