AddDefaultCharset utf8

RewriteRule ^.htaccess$ - [F]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^zencosmetics.com.ua/wpmanager
RewriteRule (.*) zencosmetics.com.ua/wpmanager/$1 [R=301,L]


RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ zencosmetics.com.ua/wpmanager/ [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

RewriteBase /wpmanager/

#php_value upload_max_filesize 100M
